nav {
  height: 50px;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      list-style-type: none;
      padding: $p-size;
    }
  }

  a {
    text-decoration: none;
    color: #0e749e;
    &:hover {
      color: hotpink;
    }
  }
}

header {
  background-image: url(../images/header.jpg);
  height: 300px;
  display: flex;
  justify-content: center;
}

header h1 {
  width: 60%;
  text-align: center;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  border: $border-size solid $secondary-color;
  background-color: $secondary-color;
  padding: $p-size;
  margin: $m-size;
}

.img-card {
  height: 200px;
  width: 100%;
  background-size: cover;
}
.img1 {
  background-image: url(../images/mountain.jpg);
}
.img2 {
  background-image: url(../images/surfer.jpg);
}
.img3 {
  background-image: url(../images/tree.jpg);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

aside {
  border: $border-size solid $secondary-color;
  margin: $m-size;
  padding: $p-size;
}

article {
  padding: $p-size;
}

footer {
  background-color: #0e749e;
  ul {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: rgb(255, 219, 237);
    }
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 80%;
    flex-direction: row;
  }
  .content {
    padding: $p-size;
  }
  nav ul {
    justify-content: end;
  }
  main {
    flex-flow: row;
  }
  aside {
    width: 25%;
  }
  article {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .card-container {
    justify-content: center;
    flex-flow: row wrap;
  }
  .card {
    width: 40%;
  }
  footer ul {
    justify-content: center;
    li {
      padding: $p-size;
    }
  }
}
